<section>
    
    {{#if loggedIn}}

        {{#each my_posts as |post|}}
        {{> my-posts }}
        {{/each}}


        <section>
            <div>
                <a href="dashboard/newpost">
                    <button id="newPost" class="btn-no-style">+ New Post</button>
                </a>
            </div>
        </section>

    {{else}}
    <a href="/login">Please login if you want to see your posts</a>
    {{/if}}

</section>


    